::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #121316;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #121316;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #5b1be1;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Thin.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url("../../public/fonts/Poppins-ExtraLight.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Light.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Regular.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Medium.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Semibold.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Bold.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Extrabold.ttf");
    }
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url("../../public/fonts/Poppins-Black.ttf");
    }
    /* #endregion  /**======== Poppins =========== */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h7,
    p,
    a,
    button {
        @apply font-poppins;
    }
    select {
        @apply cursor-pointer;
    }

    .btn {
        @apply px-6 py-4 font-semibold text-center text-white rounded-full bg-gradient-to-r from-pink-300 to-purple-300 font-poppins;
    }
    .btn-secondary {
        @apply px-6 py-4 font-semibold text-center text-purple-200 rounded-full bg-white font-poppins;
    }
}
